body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #142850;
    color: #fff;
    padding: 20px;
    text-align: center;
  }


  nav {
    background-color: #27496D;
    padding: 10px;
    text-align: left;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }

  li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  .entretenimiento {
    background-color: white;
    border: 10px solid #142850;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  